*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.navlist {
    list-style: none;
    display: flex;
    background-color: #6DB5CA;
    align-items: center;
    text-align: center;
}
.navlist > * {
    flex: 1;
    padding: 15px;
}
.navlist li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
}
.navbar li a:hover {
    background-color: black;
}

.mainwrapper {
    display: flex;
}
.mainwrapper > * {
    flex-grow: 1;
}

aside {
    padding: 15px;
    min-height: calc(100vh);
    float: left;
    background-color: #86bbcb;
}
aside h2 {
    text-decoration: none;
}
aside ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
    overflow: hidden;
}
aside a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
aside li a:hover {
    background-color: black;
}

section {
    padding-top: 2vh;
    padding-left: 1vw;
    float: left; 
}

section p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ftbar {
   left: 0;
   bottom: 0;
   background-color: #6DB5CA;
   color: white;
   text-align: center;
   padding: 5px;
}
.ftbar p {
    font-size: 10px;
}

.catelog{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    background-color: #6DB5CA;
}
.product img {
    max-width: 100%;
    max-height: 100%;
}

.grid-col-span-2 {
    grid-column: span 2;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    align-self: center;
}
.text-align-center {
    text-align: center;
}
.icon {
    width:30px;
    height:30px;
}
.icon-wrapper {
    display: flex;
    gap: 1rem;
}

.shop-cart {
    position: relative;
    display: inline-block;
}
.cart-content {
    border-radius: 5px;
    padding: 5px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.shop-cart:hover .cart-content {
    display: block;
}
.cart-item-wrapper {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.cart-item-wrapper > .flex {
    flex: 1;
}
.small-input-box {
    width: 2rem;
}
.top-border {
    border-top: 2px solid black;
}
.frame {
    border: 5px solid black;
    border-radius: 1rem;
    padding: 1rem;
}
.details-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.price {
    font-size: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: red;
}
.large-btn {
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: 5px;
    display: block;
    width: 40%;
    text-align: center;
    text-decoration: none;
}
.vert-center {
    display: flex;
    align-items: center;
}